.measure-wide {
	max-width: 64em;
}

.bg-dark-navy {
	background-color:#001A29
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

h1,h2,h3 {
	padding-top: 3rem;
}

body {
    font-family: "wf_segoe-ui_normal", Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 10px;
}
